@import '../../global.css';

/* Wrapper centralizador */
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container do formulário de login */
.login-container {
    background-color: white;
    padding: 4rem 7rem; /* mais espaço interno */
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 900px;
    min-height: 500px; /* aumenta a altura mínima */
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centraliza conteúdo verticalmente */
}


/* Título */
.login-container h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: #005792;
}

/* Labels */
.login-container label {
    display: block;
    margin-bottom: 0.3rem;
    font-weight: bold;
    color: #333;
}

/* Inputs e select */
.login-container input,
.login-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

/* Botão */
.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #005792;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-container button:hover {
    background-color: #003f5c;
    transform: scale(1.04);
}
