@import 'src/global.css';

.aluno-container {
    max-width: 700px;
    margin: auto;
    padding: 0 2%; /* remove padding vertical para o título subir */
    text-align: center;
}

.aluno-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 1rem;  /* ou 0 se quiser colar completamente no topo */
    margin-bottom: 2rem;
}

.projetos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.projeto-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 3rem;
    background-color: white;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}

.projeto-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    background-color: #005792;
    color: white;
}

.projeto-card h3 {
    margin-bottom: 5px;
}

.projeto-card p {
    margin-bottom: 30px;
}

.projetos-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;         /* zera o espaço acima */
    margin-bottom: 2rem;   /* deixa espaço para os cards abaixo */
}
