/* Fonte geral */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container principal */
.home-container {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    background: white;
}

/* Header */
.home-header {
    background: #2d40ff;
    text-align: center;
    padding: 15px 0;
    color: white;
}

.logo-text {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: -15px;
}

.subtitulo {
    font-size: 18px;
    margin: 0;
}

/* Main */
.home-main {
    flex: 1;
    display: flex;
    flex-direction: row;
    /* lado a lado */
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.home-text {
    max-width: 800px; /* Mais largo para menos quebras */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px; /* Espaço moderado entre elementos */
}

.home-text h2 {
    font-size: 42px; /* Mantém destaque sem exagero */
    font-weight: 900;
    color: #000;
    line-height: 1.2; /* Mais junto */
    margin: 0;
    text-align: left; /* Natural e fluido */
}

.blue {
    color: #2d40ff;
    font-weight: bold;
}

/* Botão */
.btn-login {
    display: inline-block;
    margin-top: 10px;
    background-color: #2d40ff;
    color: white;
    padding: 12px 100px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    transition: transform 0.4s ease, background-color 0.4s ease;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn-login:hover {
    background-color: #1a2fcc;
    transform: scale(1.05);
}

/* Imagem */
.hero-img {
    width: 800px;
    /* Aumentado */
    max-width: 100%;
    animation: flutuar 2s ease-in-out infinite;
}

/* Animação */
@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* Footer */
.home-footer {
    background: #2d40ff;
    color: white;
    text-align: center;
    padding: 6px 0;
    font-size: 18px;
    font-weight: bold;
}